<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Change the path to the dataset file if needed. 
PATH = 'data/athlete_events.csv'

In [6]:
data = pd.read_csv(PATH)
data.head()
#data.info()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [12]:
data[(data['Year']==1996) & (data['Sex']=='M')]['Age'].min(), data[(data['Year']==1996) & (data['Sex']=='F')]['Age'].min()
#(14.0, 12.0)

(14.0, 12.0)

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [150]:
data[(data["Sport"]=="Gymnastics") & (data["Year"]==2000)]["Sex"].value_counts()["M"], data[(data["Year"]==2000)]["Sex"].value_counts()["M"]
100 * data[(data["Sport"]=="Gymnastics") & (data["Year"]==2000)]["Sex"].value_counts()["M"] / data[(data["Year"]==2000)]["Sex"].value_counts()["M"]
#7.651966626936829

data[(data["Sport"]=="Gymnastics") & (data["Year"]==2000) & (data["Sex"]=="M")]["Name"].describe() #All gymnasts - 642, unique - 97
data[(data["Year"]==2000) & (data["Sex"]=="M")]["Name"].describe()["unique"] #All participants - 8390, unique - 6576
100 * data[(data["Sport"]=="Gymnastics") & (data["Year"]==2000) & (data["Sex"]=="M")]["Name"].describe()["unique"] / data[(data["Year"]==2000) & (data["Sex"]=="M")]["Name"].describe()["unique"]
#unique: 1.4750608272506083

1.4750608272506083

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [123]:
data[(data["Year"]==2000) & (data["Sex"]=="F") & (data["Sport"]=="Basketball")]["Height"].mean(), data[(data["Year"]==2000) & (data["Sex"]=="F") & (data["Sport"]=="Basketball")]["Height"].std()
#data.info()
#(182.38732394366198, 9.139462087892174)

(182.38732394366198, 9.139462087892174)

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [125]:
data[(data["Weight"]==data[data["Year"]==2002]["Weight"].max()) & (data["Year"]==2002)]["Sport"]
#Bobsleigh

99154    Bobsleigh
Name: Sport, dtype: object

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [121]:
#data[(data["Name"]=="Pawe Abratkiewicz")]["Year"].describe(include=['object', 'bool'])
#data["Sex"].describe()
data[(data["Name"]=="Pawe Abratkiewicz")]["Year"].astype('str').describe()["unique"]
#3

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [119]:
data[(data["Year"]==2000)&(data["Sport"]=="Tennis")&(data["Medal"]=="Silver")]["Team"].value_counts()#["Australia"]
#2

Australia      2
Netherlands    2
Germany        1
Russia         1
Name: Team, dtype: int64

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [21]:
sum(data[(data["Year"]==2016)&(data["Team"]=="Switzerland")]["Medal"].value_counts())
data[(data["Year"]==2016)&(data["Team"]=="Serbia")]["Medal"].value_counts()
sum(data[(data["Year"]==2016)&(data["Team"]=="Switzerland")]["Medal"].value_counts()) < sum(data[(data["Year"]==2016)&(data["Team"]=="Serbia")]["Medal"].value_counts())
#Yes

True

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [107]:
max(sum(data[(data["Year"]==2014)]["Age"].value_counts()[[x for x in range(25,35)]]), #2594 - max
sum(data[(data["Year"]==2014)]["Age"].value_counts()[[x for x in range(15,25)]]), #2027
sum(data[(data["Year"]==2014)]["Age"].value_counts()[[x for x in range(35,45)]])) #265

sum(data[(data["Year"]==2014)]["Age"].value_counts()[[x for x in range(35,45)]]) #265
def test(x):
    try:
        data[(data["Year"]==2014)]["Age"].value_counts()[x]
        return True
    except:
        return False
sum(data[(data["Year"]==2014)]["Age"].value_counts()[[x for x in range(45,56) if test(x)]]) #5 - min
#[x for x in range(45,56) if sum(data[(data["Year"]==2014)]["Age"][x])!="nan"]
#[44-55] and [25-35)

5

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [110]:
data[(data["Season"]=="Summer")&(data["City"]=="Lake Placid")]["Year"].astype("str").describe()#False
data[(data["Season"]=="Winter")&(data["City"]=="Sankt Moritz")]["Year"].astype("str").describe() #True
#No, Yes

count     1657
unique       2
top       1948
freq      1075
Name: Year, dtype: object

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [118]:
data[data["Year"]==1995]["Sport"].describe()["unique"] # 0
data[data["Year"]==2016]["Sport"].describe()["unique"] # 34
#34

34